<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">SymfoneShop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
			{% for category in categoryRepo.findAll() %}
			
				{% set url = path('product_category', {'id': category.id, 'slug': category.slug}) %}
				<li class="nav-item">
					<a class="nav-link {{ app.request.requesturi == url ? 'active' }}" href="{{ url }}">{{category.name}}

					{% if app.request.requesturi == url %}
						<span class="visually-hidden">(current)</span>
					{% endif %}
						
					</a>
				</li> 

			{% endfor %}

				<li class="nav-item">
				{% set url = path('product_category', {'id': '00', 'slug': 'no-category'}) %}
					<a class="nav-link {{ app.request.requesturi == url ? 'active' }}" href="{{ url }}">
					Sans catégorie

					{% if app.request.requesturi == url %}
						<span class="visually-hidden">(current)</span>
					{% endif %}
						
					</a>
				</li> 

			</ul>
			
			<ul class="navbar-nav">

				<li class="nav-item">
					<a href="{{ path("cart_show") }}" class="nav-link">
						<i class="fa fa-shopping-cart"></i>
						Panier ({{ cartService.totalQuantity }})
					</a>
				</li>

			{% if app.user %}

				<li class="nav-item">
					<a href="{{ path("purchases_list") }}" class="nav-link">Mes commandes</a>
				</li>


				<li class="nav-item">
					<a href="{{ path("security_logout") }}" class="nav-link btn btn-danger">Déconnexion</a>
				</li>

			{% else %}
				
				<li class="nav-item">
					<a href="{{ path("user_register") }}" class="nav-link">S'inscrire</a>
				</li>
				<li class="nav-item">
					<a href="{{ path("security_login") }}" class="nav-link btn btn-success">Connexion</a>
				</li>

			{% endif %}

			</ul>
		</div>
	</div>
</nav>
